.gameBox{
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ccc;
  transform: translate(-50%, -50%);
}

.player{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 100%;
  top: 250px;
  left: 250px;
}