
.signin-box{
  width: 500px;
  height: 300px;
  background-color: #ccc;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.signup-box{
  background-color: rgb(161, 26, 26);
  width: 200px;
  height: 150px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  left: 70%;
  top: 70%;
  transform: translate(-50%, -50%);

}

#signup-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration:none;
  color: white;
}
