*{
  box-sizing: border-box;
  transition-duration: 0.5s;
}

div{
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  background: none;
  border: none;
  outline: none;
}


html, div, body, .title_logo, img{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body{
  margin-top: 140px;
}


/* title本人 */
.title_box{
  height: 140px;
  width: 100vw;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 40px solid #313538;
  z-index: 5;
  background-color: white;
}

.title_logo{
  height: 48px;
}

.tags{
  width: 450px;
  margin-left: 57px;
  display: flex;
}

.tag{
  letter-spacing: 16px;
  text-indent: 16px;
  font-size: 20px;
  color: #3f3a3a;
  text-align: center;
  flex-grow: 1;
}

.tag_men, .tag_accessories{
  border-left: 2px solid #3f3a3a;
}


#title_search{
  width: 214px;
  height: 40px;
  padding: 8px 48px 8px 20px;
  border: solid 1px #979797;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: right center;
  margin-left: auto;
}

.icon{
  width: 130px;
  margin-left: 42px;
  display: flex;
  justify-content: space-between;
}

.icon > a{
  cursor: pointer;
}
.icon_car{
  position: relative;
  width: 44px;
  height: 44px;
  background-image: url(../images/cart.png);
}


/* 購物車的數字 */
#count{
  position: absolute;
  text-align: center;
  background-color: #8b572a;
  font-weight: bold;
  border-radius: 50%;
  color: #ffffff;
  opacity: 0.8;
  width: 24px;
  height: 24px;
  line-height: 24px;
  bottom: 0;
  right: 0;
}

.user_profile{
  cursor: pointer;
}

.icon_profile{
  margin-left: 24px;
  width: 44px;
  height: 44px;
  background-image: url(../images/member.png);
}



/* 購物車 */



#cart{
  max-width: 1160px;
  margin: 0 auto;
  padding: 47px 24px 148px;
}

.header{
  font-size: 16px;
  padding-right: 110px;
  display: flex;
  line-height: 19px;
}


.itemTitle{
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: bold;
  width: 280px;
}

.itemQuantity, .itemPrice, .itemSubtotal{
  width: 173px;
  text-align: center;
  flex-shrink: 1;
}

.itemRemove{
  width: 84px;
  text-align: right;
  flex-shrink: 1;
}

.items {
  font-size: 16px;
  color: #3f3a3a;
  padding: 40px 31px;
  border: solid 1px #979797;
  margin-top: 16px;
}


.item {
  display: flex;
  align-items: center;
  
}

.itemImage{
  width: 114px;
  margin-right: 20px;
}

.itemDetail{
  line-height: 19px;
  align-self: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
}

.itemId{
  margin-top: 18px;
}

.itemColor{
  margin-top: 22px;
}

.itemSize{
  margin-top: 10px;
}

.itemQ{
  width: 173px;
  text-align: center;
  flex-shrink: 1;
}

.itemQ > div{
  width: 80px;
  height: 30px;
  padding: 7px 10px 7px 17px;
  box-shadow: inset 20px 3px gold, 10px -6px teal;;
  border-radius: 8px;
  border: solid 1px #979797;
  border-right-style:none;
  border-bottom-style: none;
  background-color: #f3f3f3;
  cursor: pointer;
}

.itemPr, .itemSu{
  width: 173px;
  text-align: center;
  flex-shrink: 1;
}

.itemRe{
  width: 84px;
  text-align: right;
  flex-shrink: 1;
}

.removeIcon{
  cursor: pointer;
}
  



.shipment{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  margin-top: 26px;
  padding: 22px 0 22px 30px;
}


.shipmentName{
  font-size: 16px;
  color: #3f3a3a;
  line-height: 19px;
}

.shipment_select{
  width: 171px;
  height: 30px;
  padding: 5px 14px 5px 17px;
  border-radius: 8px;
  border: solid 1px #979797;
  background-color: #f3f3f3;
  margin-left: 20px;
  margin-right: 82px;
  font-size: 14px;
  color: #3f3a3a;
}


.reminder{
  line-height: 26px;
  font-size: 16px;
  color: #3f3a3a;
  margin-top: 20px;
}

.formHeader{
  line-height: 19px;
  font-size: 16px;
  font-weight: bold;
  color: #3f3a3a;
  padding-bottom: 16px;
  border-bottom: 1px solid #3f3a3a;
  margin-top: 30px;
}


/* 表單 */
.field{
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.field_name{
  width: 80px;
  line-height: 19px;
  font-size: 16px;
  color: #3f3a3a;
  margin-right: 30px;
  flex-shrink: 0;
}

.field_input{
  width: 574px;
  display: flex;
  align-items: center;
}

.input{
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: solid 1px #979797;
  padding: 0 4px;
}

#anytime{
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  border: solid 1px #979797;
}

#anytime > label{
  margin-right: 30px;
  line-height: 26px;
  font-size: 16px;
  color: #3f3a3a;
}

.cardviewSetting{
  margin-top: 30px;
}



/* 結帳 */
.summary{
  border-top: 1px solid #3f3a3a;
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subtotal{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-bottom: 20px;
  width: 240px;
  justify-content: space-between;
  padding-left: 13px;
  align-items: center;
  border-bottom: 1px solid #3f3a3a;
}

.subtotal > div{
  line-height: 19px;
  font-size: 16px;
  color: #3f3a3a;
  display: flex;
  align-items: center;
}

.subtotal > .value > span, .total > .value > span{
  line-height: 36px;
  font-size: 30px;
  margin-left: 10px;
}

.total{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 240px;
  justify-content: space-between;
  padding-left: 13px;
  align-items: center;
}

.total > .name, .value{
  line-height: 19px;
  font-size: 16px;
  color: #3f3a3a;
  display: flex;
  align-items: center;
}

#checkout{
  width: 240px;
  height: 60px;
  background-color: black;
  font-size: 20px;
  letter-spacing: 4px;
  color: #ffffff;
  margin-top: 50px;
  cursor: pointer;
}




/* 最底下的部分 */
footer{
  display: block;
  height: 115px;
  background-color: #313538;
  display: flex;
  align-items: center;
  justify-content: center;

}

footer > nav {
  width: 754px;
  flex-shrink: 1;
  display: block;
}

footer > nav > ul {
  display: flex;
  align-items: center;
  color: #f5f5f5;
}

footer > nav > ul > li {
  width: 130px;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  border-right: 1px solid #f5f5f5;
}

ol, ul {
  list-style: none;
}

footer > .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  margin-right: 30px;
}

footer > .links > img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

footer > .rights {
  line-height: 17px;
  font-size: 12px;
  color: #828282;
}