*{
  box-sizing: border-box;
}

div{
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  background: none;
  border: none;
  outline: none;
}


html, div, body, .title_logo, img{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body{
  margin-top: 140px;
}


/* title本人 */
.title_box{
  height: 140px;
  width: 100vw;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 40px solid #313538;
  z-index: 5;
  background-color: white;
}

.title_logo{
  height: 48px;
}

.tags{
  width: 450px;
  margin-left: 57px;
  display: flex;
}

.tag{
  letter-spacing: 16px;
  text-indent: 16px;
  font-size: 20px;
  color: #3f3a3a;
  text-align: center;
  flex-grow: 1;
}

.tag_men, .tag_accessories{
  border-left: 2px solid #3f3a3a;
}


#title_search{
  width: 214px;
  height: 40px;
  padding: 8px 48px 8px 20px;
  border: solid 1px #979797;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: right center;
  margin-left: auto;
}

.icon{
  width: 130px;
  margin-left: 42px;
  display: flex;
  justify-content: space-between;
}

.icon > a{
  cursor: pointer;
}
.icon_car{
  position: relative;
  width: 44px;
  height: 44px;
  background-image: url(../images/cart.png);
}


/* 購物車的數字 */
#count{
  position: absolute;
  text-align: center;
  background-color: #8b572a;
  font-weight: bold;
  border-radius: 50%;
  color: #ffffff;
  opacity: 0.8;
  width: 24px;
  height: 24px;
  line-height: 24px;
  bottom: 0;
  right: 0;
}

.user_profile{
  cursor: pointer;
}

.icon_profile{
  margin-left: 24px;
  width: 44px;
  height: 44px;
  background-image: url(../images/member.png);
}

/* 單項產品 */

.product{
  padding: 65px 0 49px;
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  align-items: flex-start;
}

.product_main_image{
  width: calc(100% - 400px);
}

.product_detail{
  margin-left: 40px;
}

.product_title{
  line-height: 38px;
  font-size: 32px;
  letter-spacing: 6.4px;
  color: #3f3a3a;
}

.product_id{
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 4px;
  color: #bababa;
  margin-top: 16px;
}

.product_price{
  width : 360px;
  line-height: 36px;
  font-size: 30px;
  color: #3f3a3a;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3f3a3a;
}

.product_variant{
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.product_variant_name{
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 4px;
  color: #3f3a3a;
  margin-right: 20px;
}

.product_colors{
  display: flex;
}

.product_color{
  width: 36px;
  height: 36px;
  padding: 6px;
  margin-right: 15px;
  border: solid 6px white;
  cursor: pointer;
  box-shadow: 0px 0px 1px #bbbbbb;
}


.product_sizes{
  display: flex;
}

.product_size{
  width: 34px;
  height: 34px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #ececec;
  color: #3f3a3a;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}

.product_quantity{
  width: 160px;
  height: 44px;
  border: solid 1px #979797;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: var(--sepia);
  padding: 0 10px;
}

#decrement, #increment{
  font-size: inherit;
  cursor: pointer;
}


#add-to-cart{
  width: 360px;
  height: 60px;
  background-color: black;
  color: white;
  margin-top: 29px;
  font-size: 20px;
  letter-spacing: 4px;
  cursor: pointer;
}

.product_note{
  margin-top: 40px;
}

.product_texture, .product_wash{
  margin-top: 30px;
}

.product_note, .product_texture, .product_description, .product_wash, .product_place{
  line-height: 30px;
  font-size: 20px;
  color: #3f3a3a;
  white-space: pre;
}

.seperator{
  line-height: 30px;
  font-size: 20px;
  letter-spacing: 4px;
  color: var(--sepia);
  margin-top: 50px;
  position: relative;
  width: 100%;
}


.seperator::before {
  position: absolute;
  content: "";
  background-color: #3f3a3a;
  top: 50%;
  right: 0;
  left: 208px;
  height: 1px;
}

.product_story{
  margin-top: 28px;
  line-height: 30px;
  font-size: 20px;
  color: #3f3a3a;
}

.product_image{
  width: 100%;
  margin-top: 30px;
}


footer{
  display: block;
  height: 115px;
  background-color: #313538;
  display: flex;
  align-items: center;
  justify-content: center;

}

footer > nav {
  width: 754px;
  flex-shrink: 1;
  display: block;
}

footer > nav > ul {
  display: flex;
  align-items: center;
  color: #f5f5f5;
}

footer > nav > ul > li {
  width: 130px;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  border-right: 1px solid #f5f5f5;
}

ol, ul {
  list-style: none;
}

footer > .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  margin-right: 30px;
}

footer > .links > img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

footer > .rights {
  line-height: 17px;
  font-size: 12px;
  color: #828282;
}