*{
  box-sizing: border-box;
  transition-duration: 0.5s;
}

div{
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  background: none;
  border: none;
  outline: none;
}


html, div, body, .title_logo, img{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body{
  margin-top: 140px;
}


/* title本人 */
.title_box{
  height: 140px;
  width: 100vw;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 40px solid #313538;
  z-index: 5;
  background-color: white;
}

.title_logo{
  height: 48px;
}

.tags{
  width: 450px;
  margin-left: 57px;
  display: flex;
}

.tag{
  letter-spacing: 16px;
  text-indent: 16px;
  font-size: 20px;
  color: #3f3a3a;
  text-align: center;
  flex-grow: 1;
}

.tag_men, .tag_accessories{
  border-left: 2px solid #3f3a3a;
}


#title_search{
  width: 214px;
  height: 40px;
  padding: 8px 48px 8px 20px;
  border: solid 1px #979797;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: right center;
  margin-left: auto;
}

.icon{
  width: 130px;
  margin-left: 42px;
  display: flex;
  justify-content: space-between;
}

.icon > a{
  cursor: pointer;
}
.icon_car{
  position: relative;
  width: 44px;
  height: 44px;
  background-image: url(../images/cart.png);
}


/* 購物車的數字 */
#count{
  position: absolute;
  text-align: center;
  background-color: #8b572a;
  font-weight: bold;
  border-radius: 50%;
  color: #ffffff;
  opacity: 0.8;
  width: 24px;
  height: 24px;
  line-height: 24px;
  bottom: 0;
  right: 0;
}

.user_profile{
  cursor: pointer;
}

.icon_profile{
  margin-left: 24px;
  width: 44px;
  height: 44px;
  background-image: url(../images/member.png);
}


/* 資料整理 */

.userData{
  width: 100%;
  height: 600px;
}

.userEveryThing{
  /* 絕對定位就是爽 */
  width: 500px;
  height: 200px;
  background-color: #ccc;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;    
  border-right:8px black double;
  box-shadow: 5px 10px 10px #3f3a3a;
}

.logout{
  width: 100px;
  height: 50px;
  background-color:#aaa;
  text-align: center;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 10px 10px #888888;
}

.data{
  font-size: 30px;
  margin: 40px;
}

.numberData{
  text-align: center;
}




/* 最底下的部分 */
footer{
  display: block;
  height: 115px;
  background-color: #313538;
  display: flex;
  align-items: center;
  justify-content: center;

}

footer > nav {
  width: 754px;
  flex-shrink: 1;
  display: block;
}

footer > nav > ul {
  display: flex;
  align-items: center;
  color: #f5f5f5;
}

footer > nav > ul > li {
  width: 130px;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  border-right: 1px solid #f5f5f5;
}

ol, ul {
  list-style: none;
}

footer > .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  margin-right: 30px;
}

footer > .links > img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

footer > .rights {
  line-height: 17px;
  font-size: 12px;
  color: #828282;
}


/* 開始鬧:D */